@media screen and (max-width: 768px) {
  mat-card{
    margin: 30px 10%;
    padding-bottom: 30px;
  }

  .profileTitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .userInfo{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }

  .button{
    margin: 20px 10%;
    width: 80%;
  }

  .newBlogForm{
    margin: 20px 10%;
    width: 80%;
  }

  .inputTextArea{
    width: 100%;
  }

  .errorMSG{
    margin: 20px 10%;
    width: 80%;
    text-align: center;
    color: red;
  }
}

@media screen and (min-width: 768px) {
  mat-card{
    margin: 30px 15%;
    padding-bottom: 30px;
  }

  .profileTitle{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .userInfo{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }

  .button{
    margin: 20px 20%;
    width: 60%;
  }

  .newBlogForm{
    margin: 20px 20%;
    width: 60%;
  }

  .inputTextArea{
    width: 100%;
  }

  .errorMSG{
    margin: 20px 10%;
    width: 80%;
    text-align: center;
    color: red;
  }
}
