mat-card{
  margin: 3%;
}

.inputTextArea{
  width: 100%;
}

@media screen and (min-width: 1000px) {
  mat-card{
    margin: 5% 25%;
  }
}

.mat-card-image{
  width: 98%;
  margin: 1%;
  padding-top: 15px;
}

mat-card-subtitle{
  margin: 10px;
  height: 100%;
  overflow: fragments;
}

mat-card-title{
  text-align: center;
  margin-bottom: 20px;
}
