@media screen and (max-width: 1000px) {
  mat-card{
    margin: 3%;
  }
}

@media screen and (min-width: 1000px) {
  mat-card{
    margin: 3% 20%;
  }
}

.card-img{
  width: 100%;
}

mat-card-subtitle{
  margin: 10px;
  height: 100%;
  overflow: fragments;
}
